.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  background-image: url('../../assets/dad.png');
  background-repeat: no-repeat;
  background-size: contain;
}


h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  margin-top: 1rem;
}

.error-message {
    color: black;
    position: absolute;
    margin-top: -3rem;
    margin-left: 24rem;
    width: 30%;
}

