.joke-card {
    color: black;
    position: absolute;
    margin-top: 9rem;
    margin-left: 23rem;
    width: 22%;
}

.next-joke-btn {
    background-color: rgb(25, 154, 126);
    color: #ffffff;
    border: 2px solid black;
    outline: none;
    border-radius: 2px;
}

.next-joke-btn:hover {
    color: black;
    cursor:pointer;
    background-color: white;
    border: 2px solid rgb(25, 154, 126);
}

p {
    font-size: 0.9em;
}